---
import { Image } from "astro:assets";
import { slugify, formatDate } from "../js/utilsBlog";
import MainLayout from "./MainLayout.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import "../styles/blog.css";
// util imports
import { formatBlogPosts } from "../js/utilsBlog";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
    sortByDate: false,
});
const relatedPosts = formattedPosts
    .filter(
        (post) =>
            post.frontmatter.category.toLowerCase() ===
                category.toLowerCase() && post.frontmatter.title !== title,
    )
    .slice(0, 3);
---

<MainLayout {title} {description}>
    <article>
        <section aria-labelledby="postTitle">
            <div class="wrapper-contents post__heading">
                <a href={`/category/${slugify(category)}/`} class="badge"
                    >{category}</a
                >
                <h1 id="postTitle" class="h2">{title}</h1>
                <p>
                    by <a href={`/author/${slugify(author)}/`}>{author}</a>
                     • {formatDate(date)}
                </p>
            </div>
        </section>
        <Image
            src={image.src}
            alt={image.alt}
            width="1200"
            height="600"
            class="post__img"
        />
        <section>
            <div class="wrapper-contents post__wrapper">
                <div class="post__content">
                    <slot />
                </div>
                <aside class="blog__sidebar">
                    <section
                        aria-labelledby="categoryTitle"
                        class="blog__category"
                    >
                        <h2 id="categoryTitle" class="h3">Blog Category</h2>
                        <CategoryCloud />
                    </section>
                    {
                        relatedPosts.length > 0 && (
                            <section aria-labelledby="relatedPosts" class="blog__related">
                                <h2 id="relatedPosts" class="h3">Related Posts</h2>
                                <RelatedPosts {relatedPosts} />
                            </section>
                        )
                    }
                </aside>
            </div>
        </section>
    </article>
</MainLayout>
